
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>China Tea Website</h2>
        @*<h3>&nbsp;&nbsp;Team 3</h3>*@
        <h3>Done by 清-TX on 9/29/2014</h3>
        
        <h3>Hello, everyone! Let's start! teargone-WI</h3>
        
        <h3> updated by xxy-PA on 9/24/14 </h3>

        <span>Team project setup test. by DD on 9/23/14</span>


    </div>
</body>
</html>
